<a href="https://colab.research.google.com/github/pascal-bergeron/ai4forgood2016/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

**211 Dataset**

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 211GrandMontreal_DataPack.rar to 211GrandMontreal_DataPack.rar

In [10]:
!unrar e -p*hack20 211GrandMontreal_DataPack.rar

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from 211GrandMontreal_DataPack.rar


Would you like to replace the existing file Références.xlsx
7966092 bytes, modified on 2020-09-04 16:05
with a new one
7966092 bytes, modified on 2020-09-04 16:05

[Y]es, [N]o, [A]ll, n[E]ver, [R]ename, [Q]uit Y

Extracting  Références.xlsx                                               14% 26%  OK
Extracting  Appels.xlsx                                                   37%  OK
Extracting  Appels_Profil.xlsx                                            47%  OK
Extracting  BDorg_Contact.xlsx                                            48%  OK
Extracting  BDorg_Général.xlsx                                            50%  OK
Extracting  BDorg_information.xlsx                                        54%  OK
Extracting  BDorg_Localisation.xlsx                                       55%  OK
Extracting  BDorg_Taxonomies.xlsx                                         58%  OK
Extracting  BDorg_Territoire desservi.xlsx                                58%  OK
Extracting  Besoins.xlsx                                                  72% 86% 99%  OK
Extracting  Municipalités.xlsx                                            99%  OK
All OK

In [11]:
appels = pd.read_excel('Appels.xlsx')

In [31]:
appels.tail()

        CallReportNum CallDateAndTimeStart  ... Code postal court  Municipalité_Code
101607       78144190           2020-08-31  ...               J3L            57005.0
101608       78144749           2020-08-31  ...               NaN            66200.0
101609       78144910           2020-08-31  ...               NaN           999999.0
101610       78145762           2020-08-31  ...               H7N            65105.0
101611       78146045           2020-08-31  ...               J4Y            58007.0

[5 rows x 6 columns]

In [13]:
appels_profils = pd.read_excel('Appels_Profil.xlsx')

In [30]:
appels_profils.tail()

        CallReportNum   Âge  ...    Langue Mode De Communication
101607       78144190   2.0  ...  Français                Appels
101608       78144749  27.0  ...  Français                Appels
101609       78144910   NaN  ...   Anglais                Appels
101610       78145762  85.0  ...  Français                Appels
101611       78146045   4.0  ...   Anglais                Appels

[5 rows x 6 columns]

In [15]:
bdorg_contacts = pd.read_excel('BDorg_Contact.xlsx')

In [29]:
bdorg_contacts.tail()

      ResourceAgencyNum  ...             Custom_Twitter
5551           18760880  ...   twitter.com/shrinershosp
5552           18760573  ...           twitter.com/oiiq
5553           18765867  ...  twitter.com/croixrouge_qc
5554           18760090  ...     twitter.com/Pasdelarue
5555           18763900  ...       twitter.com/educaloi

[5 rows x 11 columns]

In [17]:
bdorg_general = pd.read_excel('BDorg_Général.xlsx')

In [28]:
bdorg_general.tail()

      ResourceAgencyNum  ... Custom_Acronym
5551           30790854  ...            NaN
5552           51229060  ...            NaN
5553           49492168  ...            NaN
5554           18766848  ...            NaN
5555           42388216  ...            NaN

[5 rows x 11 columns]

In [19]:
bdorg_localisation = pd.read_excel('BDorg_Localisation.xlsx')

In [27]:
bdorg_localisation.tail()

      ResourceAgencyNum  Municipalité_Code  ...   Latitude  Longitude
5551           18764121                NaN  ...  45.463819 -73.823365
5552           42810221                NaN  ...  44.513670 -79.810330
5553           33806083            76065.0  ...  43.396110 -79.761240
5554           54590531            94250.0  ...        NaN        NaN
5555           18762170            81017.0  ...  44.162280 -78.085580

[5 rows x 8 columns]

In [21]:
bdorg_taxonomies = pd.read_excel('BDorg_Taxonomies.xlsx')

In [26]:
bdorg_taxonomies.tail()

      ResourceAgencyNum  ...                                       TaxonomyTerm
5551           40054459  ...  Éducation de base des adultes; Cours d'informa...
5552           40450084  ...  Clubs sociaux ethnoculturels; Communauté nigér...
5553           41667289  ...  Banques alimentaires; Récupération d'aliments ...
5554           50426073  ...  Jardins communautaires; Repas communautaires; ...
5555           54223611  ...  Repas à faible coût; Dons de nourriture; Récup...

[5 rows x 3 columns]

In [23]:
bdorg_territoire = pd.read_excel('BDorg_Territoire desservi.xlsx')

In [25]:
bdorg_territoire.tail()

      ResourceAgencyNum                                           Coverage
5551           40622563              QC - Montérégie County - Châteauguay;
5552           25558723                QC - Montréal County - Ville-Marie;
5553           40054459  QC - Montréal County - Baie-D'Urfé; QC - Montr...
5554           41667289                    QC - Montréal County - LaSalle;
5555           50426073  QC - Montréal County - Baie-D'Urfé; QC - Montr...

In [32]:
bdorg_information = pd.read_excel('BDorg_information.xlsx')

In [33]:
bdorg_information.tail()

      ResourceAgencyNum  ...                           Custom_Disability Access
5551           18765363  ...  Accessible aux fauteuils roulants; Stationneme...
5552           39285086  ...  Accessible aux fauteuils roulants; Stationneme...
5553           18765093  ...                  Accessible aux fauteuils roulants
5554           18762620  ...                                                NaN
5555           41667289  ...  Accessible aux fauteuils roulants; Stationneme...

[5 rows x 12 columns]

In [34]:
besoins = pd.read_excel('Besoins.xlsx')

In [35]:
besoins.tail()

        CallReportNum  ... TaxonomyName_link
142711       78145762  ...               NaN
142712       78146045  ...               NaN
142713       78146045  ...               NaN
142714       78146045  ...               NaN
142715       78146045  ...               NaN

[5 rows x 21 columns]

In [36]:
municipalite = pd.read_excel('Municipalités.xlsx')

In [38]:
municipalite.tail()

      Municipalité_Code  ... Territoire 211 Grand Montréal
1136              68055  ...                           Oui
1137             999001  ...                           Oui
1138             999004  ...                           Oui
1139             999005  ...                           Oui
1140             999999  ...                       Inconnu

[5 rows x 15 columns]

In [37]:
references = pd.read_excel('Références.xlsx')

In [39]:
references.tail()

        CallReportNum  ...  ReportNeedNum
264317       78146045  ...       21475383
264318       78146045  ...       21475383
264319       78146045  ...       21475338
264320       78146045  ...       21475383
264321       78146045  ...       21475411

[5 rows x 4 columns]

**311 Dataset**

In [40]:
uploaded = files.upload()

Saving requetes311.zip to requetes311.zip

KeyboardInterrupt: ignored

In [46]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [58]:
cp 'drive/My Drive/Projects/AIForGood2020/requetes311.zip' .

In [59]:
!unzip requetes311.zip

Archive:  requetes311.zip
  inflating: requetes311.csv

In [61]:
requetes311 = pd.read_csv('requetes311.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,4,5,6,8,9,10,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
requetes311.tail()

           ID_UNIQUE   NATURE  ...   DERNIER_STATUT  DATE_DERNIER_STATUT
3803042  13-317913-B  Requete  ...         Terminée  2017-11-07T08:04:37
3803043  13-313550-D  Requete  ...  Prise en charge  2020-07-22T06:51:11
3803044  13-313550-C  Requete  ...         Terminée  2018-05-03T08:06:30
3803045  13-313550-B  Requete  ...         Terminée  2018-01-17T10:37:13
3803046  10-182618-A  Requete  ...         Terminée  2018-11-01T06:51:40

[5 rows x 29 columns]

In [65]:
cp 'drive/My Drive/Projects/AIForGood2020/requetes311_2014_2015.csv' .

In [66]:
requetes311_2014_2015 = pd.read_csv('requetes311_2014_2015.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,4,5,6,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
requetes311_2014_2015.tail()

        ID_UNIQUE   NATURE  ...          LOC_X         LOC_Y
1577194      14-5  Requete  ...  303360.884114  5.051549e+06
1577195      14-4  Requete  ...  303346.810000  5.051506e+06
1577196      14-3  Requete  ...  299245.181000  5.037722e+06
1577197      14-2  Requete  ...  300340.653000  5.044892e+06
1577198      14-1  Requete  ...  299034.643141  5.046517e+06

[5 rows x 27 columns]

Institut de la statistique du Québec
https://www.stat.gouv.qc.ca/statistiques/profils/profil06/06ra_index.htm#conditions_vie

In [68]:
cp 'drive/My Drive/Projects/AIForGood2020/menages06.xlsx' .

In [69]:
menages06 = pd.read_excel('menages06.xlsx')

In [71]:
menages06.head()

  Répartition de la clientèle prestataire des programmes d'aide financière de dernier recours selon le programme, Montréal et ensemble du Québec, 2014-2018¹  ... Unnamed: 12
0                                                NaN                                                                                                          ...         NaN
1                                                NaN                                                                                                          ...      2018.0
2                                           Montréal                                                                                                          ...         NaN
3                             Nombre de prestataires                                                                                                          ...     35713.0
4                                            Adultes                                                                                                          ...     32851.0

[5 rows x 13 columns]

**COVID 19 par Arrondissements-montreal**

In [73]:
cp 'drive/My Drive/Projects/AIForGood2020/covid19-par-arrondissements-montreal/data' . -r

In [74]:
mv data data_covid19_montreal

In [75]:
data_covid19_montreal = pd.read_csv('data_covid19_montreal/2020-03-29.csv')

In [76]:
data_covid19_montreal.head()

                         Arrondissements  Cas Confirmés
0                  Ahuntsic–Cartierville             54
1                                  Anjou              9
2                           Baie-D'Urfé              2
3                           Beaconsfield             10
4  Côte-des-Neiges–Notre-Dame-de-Grâce            161

Courbe Covid
https://santemontreal.qc.ca/en/public/coronavirus-covid-19/situation-of-the-coronavirus-covid-19-in-montreal/#c43710

In [77]:
cp 'drive/My Drive/Projects/AIForGood2020/courbe_Covid.csv' .

In [82]:
courbe_Covid = pd.read_csv('courbe_Covid.csv', sep=';')

In [84]:
courbe_Covid.head()

         Date  Nouveaux cas  Cumulatif de cas  Unnamed: 3
0  2020-01-08           0.0               0.0         NaN
1  2020-02-25           1.0               1.0         NaN
2  2020-02-26           0.0               1.0         NaN
3  2020-02-27           0.0               1.0         NaN
4  2020-02-28           0.0               1.0         NaN

In [87]:
cp 'drive/My Drive/Projects/AIForGood2020/covid19-download.csv' .

In [90]:
covid19_download = pd.read_csv('covid19-download.csv')

In [91]:
covid19_download.tail()

      pruid                  prname  ... avgdeaths_last7 avgratedeaths_last7
3757     60                   Yukon  ...             0.0                0.00
3758     61   Northwest Territories  ...             0.0                0.00
3759     62                 Nunavut  ...             0.0                0.00
3760     99  Repatriated travellers  ...             0.0                 NaN
3761      1                  Canada  ...            55.0                0.15

[5 rows x 35 columns]

Centraide Radar

In [92]:
cp 'drive/My Drive/Projects/AIForGood2020/Copie de Radar_UWC_DATA_16102020.xlsx' .

In [93]:
radar_uwc_data = pd.read_excel('Copie de Radar_UWC_DATA_16102020.xlsx')

In [95]:
radar_uwc_data.head()

     #ID211 #ID Centraide  ... Autres soutiens Montant 5        UWC_Market
0  18761998     A-7800539  ...                       NaN               NaN
1       NaN     A-7800583  ...                       NaN               NaN
2  23241186     A-7807772  ...                       NaN               NaN
3  55456858           NaN  ...                       NaN  Greater Montreal
4  18760692     A-7800017  ...                       NaN  Greater Montreal

[5 rows x 43 columns]

In [96]:
cp 'drive/My Drive/Projects/AIForGood2020/RADAR_UWC_INVESTISSEMENTSREGULIERS.xlsx' .

In [97]:
radar_uwc_investissements_reguliers = pd.read_excel('RADAR_UWC_INVESTISSEMENTSREGULIERS.xlsx')

In [98]:
radar_uwc_investissements_reguliers.head()

     #ID211 #ID Centraide  ... Autres soutiens Montant 5        UWC_Market
0  18761998     A-7800539  ...                       NaN               NaN
1       NaN     A-7800583  ...                       NaN               NaN
2  23241186     A-7807772  ...                       NaN               NaN
3  18760692     A-7800017  ...                       NaN  Greater Montreal
4  18761973     A-7801484  ...                       NaN  Greater Montreal

[5 rows x 43 columns]

Weather

In [99]:
cp 'drive/My Drive/Projects/AIForGood2020/en_climate_daily_QC_702S006_2020_P1D.csv' .

In [100]:
weather = pd.read_csv('en_climate_daily_QC_702S006_2020_P1D.csv')

In [101]:
weather.head()

   Longitude (x)  Latitude (y)  ... Spd of Max Gust (km/h) Spd of Max Gust Flag
0         -73.74         45.47  ...                   36.0                  NaN
1         -73.74         45.47  ...                   32.0                  NaN
2         -73.74         45.47  ...                    NaN                  NaN
3         -73.74         45.47  ...                    NaN                  NaN
4         -73.74         45.47  ...                   42.0                  NaN

[5 rows x 31 columns]

In [102]:
drive.flush_and_unmount()